h1{
   font-family: "Lucida Console", "Courier New", monospace;
   font-size:55px;
   color:blue;
   background-color:cyan;
   text-align:center;
}
p{
   font-family: "Lucida Console", "Courier New", monospace;
   font-size:70px;
   color:pink;
   background-color:cyan;
   text-align:left;
}
