h1{font-family:Calligrapher 
   font-style:55
   font-color:blue
   background-color:cyan
   text-align:center}
p1,p2,p3{font-family:Calligrapher 
   font-size:70
   font-color:pink
   background-color:cyan
   text-align:center}
